@use 'variaveis';

.hero {
    padding: 5.6vw;
    min-height: 80vh;
    background-image: url(../images/hero_desktop.jpeg);
    text-align: center;
    background-size: cover; // essse elemento preserva aproporção da imagem faz com que ela te torne nitida de novo 

    &__content {
        max-width: 640px;

        &__branding {
            max-width: 320px;
            margin: 0 auto 38px;
        }

        .title--small {
            margin-bottom: 64px;
        }

        p {
            margin-bottom: 20px;
        }
// isso é para qaundo tem mais de uma div ou p etc.. nesse caso é o p ele vai pegar o ultimo filho no caso o ultimo p desse container 
        &:last-child {
            margin-top: 60px;
        }

        &__combos {
            display: flex;
            justify-content: space-between;

            &__combo {
                width: calc(50%);
                

                img {
                    max-height: 60px;
                }
                
            }
        }
    }
}